In [6]:
import pandas as pd
import plotly

In [7]:
df = pd.read_excel('data.xlsx',sheet_name='Processed')
print(df.shape)
df.head()

(1097, 14)

,DateStr,Date,省别,临床诊断病例-新增,临床诊断病例-累计,其中医务人员-新增,其中医务人员-累计,出院人数-新增,出院人数-累计,死亡人数-新增,死亡人数-累计,疑似病例-新增,疑似病例-排除,合计
0,A-2003-04-26,2003-04-26,北京,113,988,7.0,167.0,3,76,6,48,173,NaN,1093
1,A-2003-04-26,2003-04-26,天津,1,22,0.0,10.0,0,0,0,2,27,NaN,53
2,A-2003-04-26,2003-04-26,河北,3,21,0.0,5.0,0,0,0,0,9,NaN,31
3,A-2003-04-26,2003-04-26,山西,22,195,1.0,47.0,0,14,0,8,18,NaN,135
4,A-2003-04-26,2003-04-26,内蒙古,4,74,0.0,13.0,0,0,0,6,18,NaN,144

In [8]:
df.dtypes

DateStr              object
Date         datetime64[ns]
省别                   object
临床诊断病例-新增             int64
临床诊断病例-累计             int64
其中医务人员-新增           float64
其中医务人员-累计           float64
出院人数-新增               int64
出院人数-累计               int64
死亡人数-新增               int64
死亡人数-累计               int64
疑似病例-新增               int64
疑似病例-排除             float64
合计                    int64
dtype: object